In [1]:
import pandas as pd

In [2]:
path='F:\\PostDoc\\PINN\\Recover\\15_Febr_2024\\Cucumbers_quality\\PINN_Shamp\\result\\Cucumbers8.csv'

df = pd.read_csv(path)

In [8]:
df['Test Size'].unique()

array([187], dtype=int64)

In [7]:
df

,Seed split,Model,Average RMSE,Average MAE,Average Std Errors,Average R2,Train Size,Test Size,batch_size,Seed,dataset,num_epochsT,data_split_seed
0,210,e1,2.360532,1.629102,2.292529,0.555327,31,187,9,10,V,18,6
1,210,e2,2.249656,1.591550,2.196392,0.596249,31,187,9,10,V,18,6
2,210,sigmoid_sepate,2.275904,1.588849,2.216014,0.586891,31,187,9,10,V,18,6
3,210,b5_separate,2.250458,1.591898,2.196865,0.595967,31,187,9,10,V,18,6
4,211,e1,2.261104,1.564512,2.200296,0.592273,31,187,9,10,V,18,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14375,392,b5_separate,1.940978,1.353695,1.902298,0.706535,143,187,42,10,V,18,8
14376,393,e1,1.886763,1.298833,1.866509,0.722753,143,187,42,10,V,18,8
14377,393,e2,1.856075,1.260163,1.830351,0.731733,143,187,42,10,V,18,8
14378,393,sigmoid_sepate,1.801636,1.225035,1.782119,0.747269,143,187,42,10,V,18,8
14379,393,b5_separate,1.854944,1.259272,1.829322,0.732061,143,187,42,10,V,18,8

In [ ]:
'C:\\Users\\David\\Documents\\GitHub\\Physics-Guided-Inverse-Regression-for-Crop-Quality-Assessment\\data\\cucumbers_fitness.csv'